.ALVING , .ALVING4 { 
color:black;
font-family:cursive;
}
.ALVING2 , .ALVING3 {
    color:chocolate;
}
.MANDERS , .MANDERS4 { 
    color:black;
    font-family:cursive;
    }
.MANDERS2, .MANDERS3 {
    color:deeppink;
}
.ALVING1 {
color:black;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color:lightgreen;
}
.ALVING1:hover {
    color:blue;
    background-color:lightpink;
}
table,th,td {
    border: 2px solid red;
    padding: 10px;
    background-color: beige;
    text-align: center;
    color:goldenrod;
    margin: 2px;
    
}
.MANDERS3:hover {
    color:brown;
    text-shadow: 1px 1px 1px gray;
    filter: blur(1px);
    border-width:1px;
    height: 10px;
    width: 70px;
    border-style:solid; 
    border-color:darkred;
    padding:2px;
    text-align: center;
    
}
